// ==========================================================================
// worldPing APP CONFIG Tab
// ==========================================================================

.gnet-logo--inline {
  vertical-align: sub;
  margin-right: 5px;
  height: 17px;
}

.wp-app-advanced-box {
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
  -o-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -webkit-transition: height 0.2s;

  &.wp-app-advanced-open {
    height: 125px;
  }
}

.wp-app-advanced-link {
  margin: 1rem 0;
}

.wp-inline-field-margin--right {
  margin-right: $spacer;
}

.wp-enabled-box {
  margin: $spacer 0;
}

.wp-warning-box--margin-bottom {
  margin-bottom: $spacer*2;
  margin-left: -5px;
}
