// ==========================================================================
// ENDPOITN DETAIL TABLE
// ==========================================================================


.endpoint-detail-flex-grow {
  flex-grow: 2;
  margin-right: 50px;
}

.endpoint-detail-flex-container {
  display: flex;
  justify-content: space-between;
}

.card-list-layout-grid .endpoint-detail-flex-container {
  flex-direction: column;
}

.card-list-layout-list .endpoint-detail-flex-container {
  flex-direction: row;
}

.card-list-layout-grid .endpoint-alerting {
  margin: 25px 0;
}

.endpoint-name {
  line-height: 1.3;
}

.endpoint-alerting {
  float: left;
  font-size: 1rem;
}

.endpoint-alerting-status,
.endpoint-alerting-recipients {
  display: inline-block;

  .icon {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: top;
    margin-top: 2px;
  }
}

.endpoint-alerting-recipients {
  .icon {
    margin-right: 10px;
  }
}

.endpoint-alerting-status {
  margin-right: 30px;
  font-weight: 400; 

  &.not-enabled,
  &.not-enabled a {
    display: inline-block;
    color: $text-color-weak;
    font-weight: normal;

    &:hover {
     color: $link-hover-color;
    }
  }

  a {
    display: inline-block;
  }

  @media (min-width: 675px) {
    margin-bottom: 2px;
  }
}

.endpoint-alerting-recipients {
  color: $text-color-weak;
}

.endpoint-alerting-status,
.endpoint-alerting-recipients {
  @media (min-width: 675px) {
    display: block;
  }
}
