// ==========================================================================
// ENDPOINT CONFIG PAGE
// ==========================================================================

.section-header-flex-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.inline-header{
  display: inline;
}

.inline-icon {
  font-size: 32px;
}

.endpoint-config-left-margin {
  margin-left: 45px;
}

.wp-config-box {
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
  -o-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -webkit-transition: height 0.2s;

  &.dns-open {
    height: 820px;
  }

  &.ping-open {
    height: 685px;
  }

  &.http-open {
    height: 855px;
  }

  &.https-open {
    height: 875px;
  }

  &.destroy-open {
    height: 250px;
  }
}