
<form name="editForm">
	<div class="gf-form-group">
		<div class="gf-form-inline">
			<div class="gf-form">
				<span class="gf-form-label width-12">Api Key</span>
				<input type="password" class="gf-form-input input-xlarge" ng-model="ctrl.appModel.secureJsonData.apiKey" ng-if="!ctrl.appModel.jsonData.apiKeySet">
				<input type="text" class="gf-form-input max-width-12" disabled="disabled" value="complete" ng-if="ctrl.appModel.jsonData.apiKeySet">
			</div>
			<div class="gf-form">
				<a class="btn btn-danger btn-small" ng-click="ctrl.appModel.jsonData.apiKeySet=false" ng-if="ctrl.appModel.jsonData.apiKeySet">reset</a>
			</div>
		</div>
		<div class="gf-form-inline">
			<div class="gf-form">
				<span class="gf-form-label width-12">Configure Datasource</span>
				<button type="submit" class="btn rt-btn" ng-if="!ctrl.appModel.jsonData.datasourceSet" ng-click="ctrl.configureDatasource()">Configure</button>
				<input type="text" class="gf-form-input max-width-12" disabled="disabled" value="complete" ng-if="ctrl.appModel.jsonData.datasourceSet">
			</div>
			<div class="gf-form">
				<a class="btn btn-danger btn-small" ng-click="ctrl.appModel.jsonData.datasourceSet=false" ng-if="ctrl.appModel.jsonData.datasourceSet">reset</a>
			</div>
		</div>
	</div>
</form>
