// ==========================================================================
// Panels CSS
// ==========================================================================



// Endpoint Nav Header
// ==========================================================================

.rt-nav {
  position: relative;
  display: block;
}

.rt-nav-header {
  position: relative;
  line-height: normal;
}

.rt-nav-breadcrumb {
  margin: 0 0 7px -10px;
  display: inline-block;
}

.rt-nav-icon-font {
  font-size: 17px;
  vertical-align: text-top;
  color: #666766;
}

.pipe-separator {
  color: $text-color-weak;
}

.rt-nav-hr {
  margin-left: -10px;
  border-bottom: $panel-border;
}

.rt-nav-icon {
  font-size: 24px;
  vertical-align: sub;
}

// Home Dashboard


.wp-icon-success {
  color: $online;
  font-size: 24px;
  text-decoration:none;
  vertical-align: sub;
}

.rt-nav--background {
  background-color: $panel-bg;
  margin-left: -10px;
  border: $panel-border;
}

.wp-nav-no-endpoints {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.rt-nav-header--message {
  color: $gray-2;
  margin-right: 10px;
}

.rt-nav-header--button {
  margin-right: 5px;
}


.rt-nav-warning-container {
  background: linear-gradient(135deg, rgba($red, 0.6), rgba($red, 0.5));
  padding: $spacer/2;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 -10px $spacer*2 -10px;

  span {
    margin-right: 10px;
  }
}

.rt-nav--warning-subcopy {
  display: block;
  font-size:12px;
  color: $text-color;
}

.rt-nav--warning-icons-alert {
  color: $text-color-strong;
  text-decoration:none;
  font-size: 20px;
  margin-right: 5px;
}

/******************************************
RAINTANK DASHBOARD STYLES
******************************************/

.rt-dashboard-h1 {
    font-size: 60px;
    font-weight:900;
    letter-spacing: -1px;
    color: #EEE;
    display: inline;
    padding-top: 20px;
}

p.rt-dashboard-copy {
    font-size:14px;
    color: $text-color;
}

.rt-dash-flex-container {
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
}

.rt-panel-CTA-flex-container {
     display: flex;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap-reverse;
     align-items: center;
     text-align: center;
     min-height: 220px;
     margin: 0 100px 25px 80px;
     background: lighten($panel-bg,1%);
     border: $panel-border;
     padding: 5px 30px;

    .rt-CTA-flex-copy {
      flex-grow: 2;
    }
}

.rt-CTA-flex-image {
    min-width: 185px;
    max-width: 200px;
    margin-bottom: 10px;
}

.rt-dash-flex-item {
    flex: 1;
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
}

.rt-dash--warning {
  background: linear-gradient(135deg, rgba($red, 0.6), rgba($red, 0.5));
  margin-bottom: 10px;
  margin-left: 5px;
  padding-left: 10px;
}

.rt-dash--alerting {
  background: linear-gradient(135deg, rgba($red, 0.6), rgba($red, 0.5));
  margin-bottom: 10px;
  margin-left: 5px;
  padding-left: 10px;
}


.rt-dashboard-icons-warning-container {
  display: inline;
  margin-right: 10px;
}

.rt-dash--warning-subcopy {
  display: block;
  font-size:12px;
  color: $text-color;
  margin: $spacer 0 $spacer 0;
}

 @media screen and (max-width: 780px) {
  .rt-dash-flex-item {
    flex: 0 100%;
    text-align: center;
    flex-direction: column;
    margin:0 auto;
    }
}

p.rt-helper-blurb{
     font-size:14px;
     color: $text-color;
     min-height: 35px;
}

p.rt-dashboard-blurb{
     font-size:14px;
     color: $text-color;
     margin: 0;
}

a.rt-dashboard-blurb{
     font-size:14px;
     color: $text-color;
     margin: 0;
}

a.rt-dashboard-blurb:hover{
     text-decoration: underline;
}

.rt-dashboard-icons {
  color: $brand-primary;
  -webkit-text-fill-color: transparent;
  background: $brand-gradient;
  -webkit-background-clip: text;
  text-decoration:none;
  font-size: 20px;
  vertical-align: sub;
}

.rt-dashboard-icons-upcoming {
  color: $text-color-weak;
  text-decoration:none;
  font-size: 20px;
  vertical-align: sub;
}

.rt-dashboard-icons-warning {
  color: $text-color-strong;
  text-decoration:none;
  font-size: 20px;
  vertical-align: sub;
}

.rt-dashboard-icons-alert {
  color: $text-color-strong;
  text-decoration:none;
  font-size: 23px;
  vertical-align: sub;
}

.rt-CTA-item {
  margin: 10px 0;
}

.rt-blurb-success {
  color: $text-color-weak;
  text-decoration: line-through;
}

a.rt-blurb-upcoming {
  color: $text-color-weak;
}

.rt-dashboard-icons-container {
  width: 30px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: top;
}

.rt-dashboard-icons-copy-container {
  max-width: 285px;
  display: inline-block;
}

.rt-dashboard-icons-subcopy {
     display: block;
     font-size:12px;
     color: $text-color;
     margin: 0;
}
